@model IEnumerable<PracticaMvcCore2ACV.Models.Libros>

@{
    ViewData["Title"] = "VerCarrito";
}

<h1>VerCarrito</h1>
<p>
    @if (Context.User.Identity.IsAuthenticated == false)
    {
        <a asp-action="FinalizarCompra" asp-controller="Libros">Finalizar Compra</a>
    }
</p>

@if (Model != null)
{
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGenero)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenero)
            </td>
            <td>
                    <a asp-controller="Libros" asp-action="VerCarrito" asp-route-ideliminar="@item.IdLibro" class="btn btn-danger">Eliminar de Carrito</a>
            </td>
        </tr>
}
    </tbody>
</table>

}
else
{
    <h2 style="color:red">@ViewData["MENSAJE"]</h2>
}